<%- include('partials/header') %>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/confessions" role="button">
    <i class="fas fa-user-secret fa-2x"></i>
    Confessions
  </a>
  <a class="btn btn-light btn-lg" href="/logout" role="button">Logout</a>
</nav>

<div
  class="jumbotron centered bg-white d-flex flex-column justify-content-center"
>
  <div class="container">
    <% usersWithConfessions.forEach((user)=>{ %>
    <p class="confession-text"><%=user.confession%></p>
    <% }) %>
    <hr />
    <a class="btn btn-dark" href="/submit" role="button">Confess</a>
  </div>
</div>

<%- include('partials/footer') %>
