<%- include('partials/header') %>

<div class="jumbotron centered min-vh-100 bg-white d-flex flex-column justify-content-center">
  <div class="container">
    <i class="fas fa-user-secret fa-6x"></i>
    <h1 class="display-3">Confessions</h1>
    <p class="lead">Clear your head and vent those confessions!</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
